footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    display: inline-block;
}
footer > a{
    color: green;
}
body{
    text-align: center;
    align-content: center;
    background-color: rgb(250,235,240);
    font-size: 20px;
}
img{
    width: 500px;
}