footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    display: inline-block;
    background-color: rgb(50,50,50);
}
footer > a{
    color: white;
}
body{
    text-align: center;
    align-content: center;
    background-color: rgb(200,200,200)
}
table{
    border: dashed 3px;
    width: 75%;
    height: 50%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
th{
    border: solid 2px;
}
#topic{
    font-size: 50px;
}
#info{
    text-wrap: wrap;
}